.Button {
  display: flex;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  width: 120px;
  background-color: #121212;
}

.Button-space-between {
  justify-content:space-between;
}

.Button-large {
  width: 160px;
}

.Button-circle {
  width: 32px;
}

.Button-circle-large {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.Button-circle-large .Button-icon {
  width: 28px;
  height: 28px;
}

.Button-name{
  color: white;
  text-align: center;
}

.Button-icon {
  width: 20px;
  height: 20px;
}

.Button-loading .Button-name{
  display: none;
}

.Button-loading .Button-icon{
  display: none;
}

.Button-loading{
  width: 32px;
  height: 32px;
}

.Button-loading::after{
  content: " ";
  width: 12px;
  height: 41px;
  background-color: #121212;
  position: absolute;
  animation: loading 1.2s linear infinite;
}

.Button-loading:hover{
  background-color: #121212;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}