.Button {
  display: flex;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  width: 120px;
}

.Button-space-between {
  justify-content:space-between;
}

.Button-large {
  width: 160px;
}

.Button-circle {
  width: 32px;
}

.Button-loading {
  background-color: red;
}

.Button-name{
  text-align: center;
}

.Button-icon {
  width: 20px;
  height: 20px;
}