.control {
  height: 32px;
  padding: 8px;
  margin: 8px;
  background-color: #121212;
  border: 1px solid #686868;
  border-radius: 16px;
  font-size: 14px;
  flex-shrink: 1;
}

.control:hover {
  background-color: #686868;
}

.control.active {
  background-color: #686868;
}