.control {
  height: 32px;
  padding: 8px;
  margin: 8px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 16px;
  font-size: 14px;
  flex-shrink: 1;
}

.control:hover {
  background-color: #ddd;
}

.control.active {
  background-color: #ddd;
}