.SelectGrid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 160px;
}

.SelectGrid-container:after{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../data/icons/icon_select.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.SelectGrid-name {
  display: inline-block;
  margin: 0 8px;
}

.GridList{
  position: fixed;
  top:20px;
  right:20px;
  left:20px;
  bottom:20px;
  background-color: white;
  z-index: 300;
  overflow: scroll;
}

.GridList-item{
  height: 200px;
  width: 200px;
  columns: blue;
}