.SelectGrid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 160px;
}

.SelectGrid-container:after{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../data/icons/icon_select.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.SelectGrid-name {
  display: inline-block;
  margin: 0 8px;
}