.Slider-container {
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content:center;
  width: 160px;
}

.Slider-name {
  display: inline-block;
  margin: 0;
  color: black;
  margin: 0 8px;
}

.Slider {
  margin: 0 8px;
}

.rc-slider-handle:active{
  box-shadow: 0;
}