.App {
  position: relative;
  width: 100%;
}

.App-main {
  position: relative;
  width: 100%;
  height: calc( 100vh - 72px );
  padding: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 768px) {
  .App-main {
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    padding: 16px;
  }
}

.App-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px ;
  -webkit-overflow-scrolling: touch;
}