.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

}

.App-main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: white;
  padding: 20px;
}