.Artboard{
  position: relative;
  height: calc( 100vh - (72px + 48px));
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
  padding: 8px;
}

.Artboard.previewLetter{
  width: calc( (100vh - 120px) * 0.78 );
  flex-shrink: 0;
  margin-right: 16px;
}

.Artboard.alphabet{
  flex-grow: 1;
}