.Artboard{
  position: relative;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
}

.Artboard.previewLetter{
  flex-shrink: 0;
  margin-right: 16px;
}

.Artboard.alphabet{
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .Artboard.previewLetter{
    width: 100%;
    height: auto;
    padding-bottom: 122%;
  }

  .Artboard.alphabet{
    flex-grow: 1;
    height: auto;
    margin: 40px 0 80px;
  }
}