
.GridList-categorie{
  margin: 16px 0 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.GridList-categorie-title{
  width: 100%;
}

.GridList-item{
  width: calc(25% - 16px);
  margin: 16px 0;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 16px;
  overflow: hidden;
}

.GridList-item-selected{
  box-shadow: 4px 4px 0 2px #f2f2f2;
}

.GridList-item:hover{
  transition: all 250ms ease-out;
  box-shadow: none;
  cursor: pointer;
}

.GridList-item img{
  width: 100%;
}