.GridList-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.GridList-item{
  width: 30%;
  margin: 20px 0;
}

.GridList-item:hover{
  background-color: #ddd;
}

.GridList-item img{
  width: 100%;
}