
.GridList-categorie{
  margin: 0 0 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.GridList-categorie-title{
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 16px 0 8px;
  display: flex;
  font-size: 16px;
}

.GridList-categorie-title div{
  margin-right: 8px;
}

.GridList-item{
  position: relative;
  width: calc(25% - 32px);
  margin: 16px;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  flex-shrink: 1;
}

.GridList-item-selected,
.GridList-item:hover {
  border-radius: 16px;
  transition: all 100ms;
}

.GridList-item-title{
  transform: translateY(-10px);
  opacity: 0;
  position: absolute;
  top:4px;
  left: 4px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: #484848;
  border-radius: 16px;
  color: white;
}

.GridList-item-selected .GridList-item-title{
  transform: translateY(0);
  opacity: 1;
  transition: all 100ms;
}



.GridList-item:hover{
  cursor: pointer;
}

.GridList-item img{
  width: 100%;
}