
.Letter-container{
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 8px;
}

.Letter-inner{
  width: 100%;
  height: 100%;
}

.Letter {
  width: 100%;
  height: 100%;
}

.Letter:hover {
  cursor: pointer;
}