.PreviewLetter-container {
  position: relative;
  height: 100%;
}

.PreviewLetter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.PreviewLetter-placeholder{
  position: relative;
  opacity: 0;
  height: 100%;
  widows: auto;
}

