.Slider-container{
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px;
  margin: 8px;
  flex-grow: 2;
}

.Slider-name {
  display: inline-block;
  margin: 0;
  color: black;
  margin-right: 8px;
  font-size: 14px;
}

.Slider{
  display: inline-block;
  width: 80px;
}