.Slider-container{
  height: 32px;
  display: flex;
  align-items: center;
  margin: 0 16px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
}

.Slider-name {
  display: inline-block;
  margin: 0;
  color: black;
  margin-right: 8px;
  font-size: 14px;
}

.Slider{
  display: inline-block;
  width: 80px;
}