.TypeScanner {
  position: relative;
  width: 100%;
}

.TypeScanner-main {
  position: relative;
  width: 100%;
  height: calc( 100vh - 112px );
  padding: 12px 24px 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 768px) {
  .TypeScanner-main {
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    padding: 16px;
  }
}
